* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('img.jpg');
    font-size: 120%;

}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
form {
    width: 30%;
    margin: 10px auto 0px;
    background: white;
    border: 1px solid #B0C4DE;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}
.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: right;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px; 
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
}
